body{

}
/* grid 960px*/
a:link, a:active, a:visited {
	color: #315e8a;
	text-decoration: none;
	font-family: Calibri; 
}
a:hover{
	text-decoration: underline;
}
.class { 
	font-family: Calibri; 
}

.linha{
	width: 960px;
	margin:0 auto;
	overflow: auto;
	padding: 20px 0;
}

.coluna{  
	padding: 0 10px;
	float: left;
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}

ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}
ul.inline li:lastchild, ol.inline li:last-child{
	margin_right: 0;
} 
/*layout do site*/
.header{
	background: #61C951;
}

.rodape{
	background:#61C951;
	padding: 0px 0;
	fonte-weight: 100;
	margin-top: 90px;
}
.menu{
	text-align: right;
	margin-top: 31px;
	font-family: Calibri; 
}


