html{
    height:100%;
    
}

/*          CABEÇALHO        */
header{
  font-family: Calibri;
  background: #A9F5A9; /*Defini a cor de fundo do header, que é o cabeçalho definido no HTML*/
  width: 100%;
  height: 200px;
  position: relative; /*posição absolute, fica por cima de tudo*/
  display: flex;
  justify-content: caption-side; /*esta justificando os itens colocando um espaço entre eles*/
  align-items: center;
}
header nav{
  display: flex;/*Defini o display da 'nav' que estao dentro do header*/
  margin-left: 50px;
}

header li{
  font-size: 30px; /*Defini o tamanho da fonte de todos os 'li' que estao no header*/
  margin: 0 30px;
}
header a{
  font-size: 18px; !important /*Defini a font de todo 'a' que esta dentro do header, o !important diz que se tiver outro estilo esse ira se sobressair somente dentro da header*/
  margin: 0 30px;
}
header li a{ /*Defini os estilos para todos os 'li' e 'a' do header*/
  color: #000000;
  text-decoration: none;
  text-align: right;
  margin-right: -30px;
}

header img {
	margin-right: 330px;
}

/*mesma coisa do de cima so que com a img e a div .footer*/
img{
  width: 300px;
  height: 72px;
  margin: 0 35px;
}

nav{
  list-style: none;
  font-family: Calibri;
}




/*          RODAPÉ        */
body {
    font-family: Calibri;
    margin: 0px;	/* Defini que todo o body não tem margem*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
      flex: 1;
}
.footer{
    background: #A9F5A9;
    padding-top: 1%;
	padding-bottom: 1%;
	align-items: center;
	display: table;

}
.footer img{
	display: table-table-row;
	text-align: center;
	vertical-align: middle;
  	width: 2.6%;
  	height: 2.6%;
  	margin-right: 0.5%;
}
/*          FIM RODAPÉ        */

.font{
	font-size: 35px;
	font-weight: bold;
}

.alinhar {
	position: relative;
    height: 100%;
    padding: 2% 2%;
    background: white;
    font-size: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
	height: 70%;
    width: 100%;
    background: white; /*Defini a cor da classe conteiner que fica dentro do body*/
	display: flex; /*Defini tipo de display, neste caso, flex*/
	flex-direction: column; /*Defini a direção dos item do display, que seram em columas, repare que tudo que esta dentro da section esta em coluna*/
	justify-content: center; /*Alinha tudo no centro da section e em columa como foi definido a cima*/
	align-items: left; /*defini o alinhamento dos itens da section*/
	float: left;
}

.button {
    background-color: #4CAF50; /* Green */
	font-family: Calibri;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
    display: inline-block;
	float:left;
    font-size: 17px;
	width: 9%;
	cursor: pointer;
}

.button:hover {opacity: 1}

.button1 {
    background-color: #4CAF50; /* Green */
	font-family: Calibri;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
    display: inline-block;
	float:left;
    font-size: 17px;
	width: 13%;
	cursor: pointer;
}

.button1:hover {opacity: 1}

.button2 {
    background-color: #4CAF50; /* Green */
	font-family: Calibri;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
    display: inline-block;
	float:left;
    font-size: 17px;
	width: 14%;
	cursor: pointer;
}

.button2:hover {opacity: 1}

a:hover {
	font-weight: bold;
}



/*
.footer {
    font-family: Calibri;

    background: #A9F5A9;
	bottom: 0;
	width: 100%;
    position: absolute;
	padding-top: 1%;
	padding-bottom: 1%;
	align-items: center;
	display: table;
	/*display: flex;

    padding: 15px 0px 15px;
	bottom: 0;
	margin-top: 20%;
	width: 100%;
    height: 30%;
	left: 0;

  }

.footer img{
	display: table-table-row;
	text-align: center;
	vertical-align: middle;
  	width: 2.6%;
  	height: 2.6%;
  	margin-right: 0.5%;
}
*/

